<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
    <title>homeprice.am</title>
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='logofavicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='privacy.css') }}">
</head>
<body>
<section id="home" class="welcome-hero">
    <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                <div class="container">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <div class="logo-container">
                            <a href="/">
                                <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo">
                            </a>
                        </div>

                    </div><!--/.navbar-header-->
        <!--<div class="clearfix"></div>
         <a href="javascript:history.back()" class="back-button">Back</a>-->
    </div><!-- /.top-area-->
    <div class="container">
    <div class="content">
        <h2>Օգտագործման կանոնները</h2>

        <p>Ձեր կողմից Homeprice.am-ի շարունակական օգտագործումը նշանակում է` Դուք ընդունում եք սույն <strong>Օգտագործման կանոնները:</strong> </p>

        <p> Homeprice.am կայքը պատասխանատվություն չի կրում կայքում տեղադրված անշարժ գույքի վերաբերյալ միջին գնի կամ քանակի տեղեկատվության ճշգրտության համար:</p>

        <p><strong>Կայքի բովանդակությունը:</strong> Homeprice.am կայքում տեղադրված տեղեկատվությունը հանդիսանում է կայքի ադմինիստրացիայի սեփականությունը: Դուք կարող եք կրկնօրինակել
            կայքում զետեղված տեղեկատվության ինչ-որ մաս ձեր անձնական, ոչ կոմերցիոն գործունեության համար, սակայն կայքի բովանդակության ոչ մի մաս չի կարող վերարտադրվել, ձևափոխվել,
            փոխանցվել, տարածվել, ցուցադրվել կամ ուղարկվել կոմերցիոն կամ այլ նպատակներով` առանց Homeprice.am-ի գրավոր թույլտվության: Կայքի բովանդակությունը կոմերցիոն կամ այլ նպատակներով
            օգտագործելու վերաբերյալ դիմումներ կարող են ուղարկվել Կապի էջի միջոցով: Homeprice.am-ը պատասխանատվություն չի կրում վեբ-կայքում առկա հնարավոր թերությունների հետևանքների համար:
            Դուք չպետք է համարեք, որ վեբ-կայքը կամ դրա բովանդակությունը չի պարունակում որևէ սխալներ: Homeprice.am-ը իրավունք է վերապահում կատարել հետագա փոփոխություններ վեբ-կայքում.
            ծառայությունները կարող են փոփոխվել, լրացվել կամ դադարեցվել:
        </p>
        <p><strong>Արգելված գործողություններ:</strong> Ստորև ներկայացվում է գործողությունների ցանկը, որոնք արգելվում է իրականացնել Կայքի միջոցով.
            (ա) օգտագործել որևէ միջոց կամ ծրագիր` Կայքի նորմալ աշխատանքին խոչընդոտելու կամ խոչընդոտել փորձելու համար
            (բ) ցանկացած գործողություն` ուղղված Homeprice.am կայքի ծրագրային կոդի աղբյուրի վնասմանը կամ ձեռքբերմանը:
        </p>
        <p><strong>Ծառայության դադարեցում:</strong> Դուք հասկանում և համաձայնվում եք, որ Homeprice.am-ը կարող է իր հայեցողությամբ և առանց նախնական ծանուցագրի դադարեցնել կամ ժամանակավորապես
            արգելել ձեր մուտքը Կայք, և Homeprice.am-ը կարող է օգտագործել ցանկացած այլ միջոց, եթե Homeprice.am-ը համարի, որ ձեր կողմից կայքի օգտագործումը (ա) խախտում են (i) այս Օգտագործման կանոնները,
            (ii) Homeprice.am-ի իրավունքները կամ (iii) ցանկացած օրենք կամ կանոնակարգ կամ (բ) հիմնված են խարդախության վրա: Homeprice.am-ը չի պարտավորվում որևէ փոխհատուցում կատարել, եթե Գրանցված օգտագործողի
            ձեր կարգավիճակը դադարեցվել է, քանի որ, Homeprice.am-ի հայեցողությամբ, դուք խախտել եք այս Օգտագործման կանոնները:
        </p>
        <p><strong>Լրացուցիչ:</strong> Այս <strong>Օգտագործման կանոնները</strong> կարող են փոփոխվել ցանկացած ժամանակ և դուք կտեղեկացվեք այդ փոփոխությունների մասին` Կայքի այս էջում զետեղված Օգտագործման կանոնների թարմացված տարբերակների միջոցով:
            Ձեր կողմից Կայքի շարունակական օգտագործումը փոփոխված Օգտագործման կանոնների տեղադրումից հետո նշանակում է, որ դուք համաձայն եք այդ փոփոխությունների հետ:
            Homeprice.am-ը կարող է փոփոխել, դադարեցնել կամ սահմանափակել կայքի որևէ մասի գործողությունն առանց նախնական ծանուցման:
            Այս կայքը պարունակում է հղումներ դեպի այլ կայքեր, որոնք հիմնված չեն կամ չեն վերահսկվում Homeprice.am-ի կողմից: Homeprice.am-ը չի հաստատում, հովանավորում կամ երաշխավորում այդ կայքերում տեղադրված տեղեկատվության
            հավաստիությունը և պատասխանատվություն չի կրում այդ կայքերում առկա մեկնաբանությունների, ծառայությունների, հաղորդագրությունների համար:
        </p>
        <p><strong>Ծրագրային ապահովում:</strong> Կայքի և հավելվածի ողջ ծրագրային ապահովումը հանդիսանում է N.Y-ի սեփականությունը և պաշտպանված է հեղինակային և մտավոր սեփականության մասին օրենքներով: Կայքի և հավելվածի ծրագրային ապահովման ցանկացած տիպի օգտագործում արգելվում է օրենքով:</p>

        <p>Հարգանքով`</p>
            
        <p>Homeprice.am-ի թիմ</p>
    </div>
    </div>
</section>
     <!--contact start-->
     <footer id="contact"  class="contact">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="single-footer-widget">
                            <ul>
                                <li><a href="/aboutus">Նախագծի Մասին</a></li>
                                <li><a href="/help">Օգնություն</a></li>
                                <li><a href="/contact">Կապ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            &copy; copyright. designed and developed by <a>N.Y.</a>
                        </p><!--/p-->
                    </div>
                </div>
            </div><!--/.footer-copyright-->
        </div><!--/.container-->
    </footer><!--/.contact-->
    <!--contact end-->


    
</body>

</html>